@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pangaia";
  font-weight: 500;
  font-style: normal;
  src: url(/assets/fonts/PPPangaia-Bold.otf);
}

@layer base {
  :root {
    --background: 300 4% 5%;
    --foreground: 0 0 100;

    --primary: 0 0 90;

    --secondary: 37 98% 53%;

    --cards: 221 51 16;

    --radius: 0.5rem;
  }
}

body {
  background-color: hsl(var(--background));
  background-image: radial-gradient(#e5e7eb5c 1px, transparent 1px);
  background-size: 4rem 4rem;
  color: hsl(var(--foreground));
  font-family: "pangaia";
  font-weight: 500;
  cursor: none;
  /* overflow-x: hidden; */
}
:hover,
:focus {
  cursor: none;
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

::-webkit-scrollbar {
  display: none;
}
